@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<center>
    <div class="row">
        <div class="col-6">
            <br />
            <h6>Aquí van las normas de tu Stream</h6>
            <br />
            <br />
            <br />
            <div>
                <p>Aquí va tu primera norma!</p>                
                <p>Aquí puedes poner la segunda</p>
                <p>La tercera norma de tu stream</p>
                <p>Aún tienes más? Aqui puedes poner la cuarta</p>
                <p>Puedes agragar todas las que quieras!</p>
            </div>
        </div>
        <div class="col-6">
            <img src="~/images/normas-convivencia.png" style="width: auto; height:auto" /> <br />
        </div>
    </div>
</center>