@model LightHouseV1.Models.Send

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Send</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SendId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SendName" class="control-label"></label>
                <input asp-for="SendName" class="form-control" />
                <span asp-validation-for="SendName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingCode" class="control-label"></label>
                <input asp-for="TrackingCode" class="form-control" />
                <span asp-validation-for="TrackingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendType" class="control-label"></label>
                @Html.DropDownListFor(m => m.SendType, new SelectList(Enum.GetNames(typeof(SendType))), new { @class = "form-control" })
                <span asp-validation-for="SendType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deliver" class="control-label"></label>
                @Html.DropDownListFor(m => m.Deliver, new SelectList(Enum.GetNames(typeof(Deliver))), new { @class = "form-control" })
                <span asp-validation-for="Deliver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendPrice" class="control-label"></label>
                <input asp-for="SendPrice" class="form-control" />
                <span asp-validation-for="SendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SendDay" class="control-label"></label>
                <input asp-for="SendDay" class="form-control" />
                <span asp-validation-for="SendDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceptionDay" class="control-label"></label>
                <input asp-for="ReceptionDay" class="form-control" />
                <span asp-validation-for="ReceptionDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success m-1 text-black-50" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary m-1 text-black-50" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
