@model LightHouseV1.Models.RewardComposition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RewardComposition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RewardComponents" class="control-label"></label>
                <input asp-for="RewardComponents" class="form-control" />
                <span asp-validation-for="RewardComponents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success m-1 text-black-50" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary m-1 text-black-50" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
