@model LightHouseV1.Models.SendContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SendContent</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a class="btn btn-success m-1 text-black-50" asp-action="Edit" asp-route-id="@Model.SendContentId">Edit</a> |
    <a class="btn btn-primary m-1 text-black-50" asp-action="Index">Back to List</a>
</div>
