@model LightHouseV1.Models.ClaimedBy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClaimedBy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimedByType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimedByType)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success m-1 text-black-50" asp-action="Edit" asp-route-id="@Model.ClaimedById">Edit</a> |
    <a class="btn btn-primary m-1 text-black-50" asp-action="Index">Back to List</a>
</div>
